section#sobre.Sobre
  div.bg-gradient
    div.content.container
      div.col.one
        h2.title-h2
          | Um pouco sobre nossa empresa
        div.divisor-r-1
        p.text
          | A prime tecnologias &eacute; uma empresa full service no segmento de T.I.. Atuando principalmente nas &aacute;reas de seguran&ccedil;a, controle de acesso,  manuten&ccedil;&atilde;o de equipamentos de inform&aacute;tica e constru&ccedil;&atilde;o de sistemas de gest&atilde;o, aplicativos e sites.
      div.col.two
        img.img-desk(src='assets/img/imagem-about.svg')
      div.col.tree
        p.text
          | Venha conferir o que de melhor temos a oferecer com o melhor custo benef&iacute;cio do mercado.
        div.divisor-l-1
  div#diferenciais.container
    div.cards
      div.card.card-1
        img(src='assets/img/icons-about/icon1.svg')
        h3.card-title
          | Compromisso com a qualidade
        div.divisor-c-1
        p.card-text
          | A Prime &eacute; exigente na realiza&ccedil;&atilde;o de sua presta&ccedil;&atilde;o de servi&ccedil;o, pois temos compromisso com a qualidade. Um trabalho bem feito &eacute; a certeza de clientes mais do que satisfeitos.
      div.card.card-2
        img(src='assets/img/icons-about/icon2.svg')
        h3.card-title
          | Melhor custo benef&iacute;cio
        div.divisor-c-1
        p.card-text
          | Estarmos conectados as melhores op&ccedil;&otilde;es de fornecedores do mercado e, realizamos a presta&ccedil;&atilde;o de servi&ccedil;o com grau elevado de qualidade, fazendo com que o nosso custo X benef&iacute;cio seja um diferencial para Prime.
      div.card.card-3
        img(src='assets/img/icons-about/icon3.svg')
        h3.card-title
          | Cumprimento de prazos
        .divisor-c-1
        p.card-text
          | Na prime levamos a palavra prazo a s&eacute;rio. por isso toda nossa presta&ccedil;&atilde;o de servi&ccedil;os &eacute; estudada para a defini&ccedil;&atilde;o dos prazos para execu&ccedil;&atilde;o dos servi&ccedil;os com extrema qualidade.
