section.Consulting
  div.container
    div.content.one
      div.col.left
        img(src='assets/img/consulting.svg')
      div.col.rigth
        div.block
          h2.title-h2
            | Consultor
            span.span 24h
          div.divisor-r-2
          p.text
            | Quantas vezes pessoas compram equipamentos e depois se arrependem, pois a compra foi errada ou pelo produto ser muito mais do que precisava ou menos do que precisava.
    div.content.two
      div.card
        header.header
          div.content
            h4.title
              | Consultoria
          div.content
            h4.title Montagem de Equipamento
        div.body
          div.content
            p.text
              | Realizamos o comparativo de equipamentos como: computadores, Impressoras, celulares e etc. Achamos a melhor solu&ccedil;&atilde;o custo X benef&iacute;cio para sua necessidade.
          div.content
            p.text
              | Montamos computadores e esta&ccedil;&otilde;es de trabalho para empresas e resid&ecirc;ncias, levando sempre ao nosso cliente a melhor op&ccedil;&atilde;o.
