section.Contact.bg-blue
  div.container
    div#fale-conosco.contact-content
      div.col.left
        h2.title-h2
          | Fale re com
          span.span a Prime
        div.divisor
        div.contact
          div.contact-item
            h4.col-title Atendimento Geral
            p.col-text 21 3764.2875
          div.contact-item
            h4.col-title Whatsapp
            p.col-text 21 9 9221.9429
          div.contact-item
            h4.col-title Email
            p.col-text contato@primesolucoes.com.br
      div.col.right
        h3.title-h3 Envie-nos uma mensagem!
        form.form(action='post')
          div.content
            input(type='text' placeholder='Digite seu nome...')
            input(type='email' placeholder='Digite seu email...')
            input(type='text' placeholder='Digite o assunto...')
            textarea(type='text' placeholder='Digite sua mensagem...' rows='5')
          div.button
            input(type='button' value='Enviar Mensagem')
