section.Jobs.bg-blue
  div.container
    div#servicos.box
      header.header
        div.col.left
          p.mini-title Nossos servi&ccedil;os
          div.divisor-r-2
          h2.title-h2
            | Como n&oacute;s te ajudamos
          blockquote#one.blockquote
            | Mantemos um compromisso di&aacute;rio com nossos clientes e parceiros, buscando a excel&ecirc;ncia em todos os processos da preta&ccedil;&atilde;o de servi&ccedil;os da Prime Tecnologias.
        div.col.rigth
          img.job-image(src='assets/img/imagem-jobs.svg' alt='')
        blockquote#two.blockquote
          | Mantemos um compromisso di&aacute;rio com nossos clientes e parceiros, buscando a excel&ecirc;ncia em todos os processos da preta&ccedil;&atilde;o de servi&ccedil;os da Prime Tecnologias.
      div.body
        div.row.box-services
          div.boxed
            div.ico
              img(src='assets/img/icons-jobs/icon1.svg' alt='')
            div.content
              h3 Suporte
              p
                | Suporte em empresas e resid&ecirc;ncias fazendo com que o equipamento de nossos clientes estejam sempre operando em 100% de sua capacidade.
          div.boxed
            div.ico
              img(src='assets/img/icons-jobs/icon2.svg' alt='')
            div.content
              h3 Manuten&ccedil;&atilde;o
              p
                | Fazemos manuten&ccedil;&atilde;o preventiva ou corretiva em equipamentos de nossos clientes com a finalidade de evitar uma pane no equipamento.
        div.row.box-services
          div.boxed
            div.ico
              img(src='assets/img/icons-jobs/icon3.svg' alt='')
            div.content
              h3 Sistema de C&acirc;meras
              p
                | Instalamos sistemas de seguran&ccedil;a e monitoramento em empresas e resid&ecirc;ncias, fazendo que o ambiente fique ainda mais seguro.
          div.boxed
            div.ico
              img(src='assets/img/icons-jobs/icon4.svg' alt='')
            div.content
              h3 Controle de Acesso
              p
                | Controlar o  acesso al&eacute;m de ser muito importante para a seguran&ccedil;a do local onde &eacute; instalado, &eacute; muito importante para segmentar as pessoas que tem acesso a esses locais.
        div.row.box-services
          div.boxed
            div.ico
              img(src='assets/img/icons-jobs/icon5.svg' alt='')
            div.content
              h3 Central de Alarme
              p
                | Instala&ccedil;&atilde;o, configura&ccedil;&atilde;o e reparos em sistemas de alarmes monitorados ou n&atilde;o monitorados.
          div.boxed
            div.ico
              img(src='assets/img/icons-jobs/icon6.svg' alt='')
            div.content
              h3 Central Telef&ocirc;nica
              p
                | Realizamos a instala&ccedil;&atilde;o de centrais telef&ocirc;nicas, ramais em escrit&oacute;rios, portarias elevadores e etc&mldr;
        div.row.box-services
          div.boxed
            div.ico
              img(src='assets/img/icons-jobs/icon7.svg' alt='')
            div.content
              h3 Sistemas de Rede
              p
                | Na Prime realizamos instala&ccedil;&atilde;o, manuten&ccedil;&atilde;o e monitoramento de sistema de rede e todos os servi&ccedil;os adjacentes.
          div.boxed
            div.ico
              img(src='assets/img/icons-jobs/icon8.svg' alt='')
            div.content
              h3 Cercas El&eacute;tricas
              p
                | A Prime realiza instala&ccedil;&otilde;es e manuten&ccedil;&otilde;es de cercas el&eacute;tricas para proteger seus bens e fam&iacute;lia.
        div.row.box-services
          div.boxed
            div.ico
              img(src='assets/img/icons-jobs/icon9.svg' alt='')
            div.content
              h3 Port&otilde;es Autom&aacute;ticos
              p
                | Realizamos a instala&ccedil;&atilde;o e reparos de port&otilde;es deslizantes, basculhante e pivotante, configura&ccedil;&atilde;o de entrada e sa&iacute;da, cadastros de novos usu&aacute;rios e etc&mldr;
          div.boxed
            div.ico
              img(src='assets/img/icons-jobs/icon10.svg' alt='')
            div.content
              h3 Fornecimento
              p
                | Na Prime temos uma equipe especializada em fornecimento de equipamentos eletr&ocirc;nicos.
