section.Servicos
  div.container
    div.content
      div.col
        h3.title-h3
          | Qualidade que cabe no seu or&ccedil;amento
      div.col
        p.text
          | A Prime Tecnologias tem o melhor custo benef&iacute;cio para voc&ecirc; e seu neg&oacute;cio, atendendo com qualidade todos os clientes, indiferente se &eacute; pessoa f&iacute;sica ou jur&iacute;dica.
      div.col
        button.btn-2
          a(href='#servicos')
            | Servicos