section.Slider
  .slider-principal
    img.img.img-desktop(src='assets/img/imagem-desktop.svg' alt='Slider Principal')
    img.img.img-mobile(src='assets/img/imagem-mobile.svg' alt='Slider Principal')
