footer.Footer
  div.container
    div.footer-content
      div.col.logo-footer
        a.col-link(href='#header')
          img.link-logo(src='assets/img/logo-footer.svg' alt='')
      div.col
        h4.col-title Funcionamento
        p.col-text
          | Seg. à sex de 8:30 às 18:30
        p.col-text
          | Sábado de 9.00 às 14:00
      div.col
        h4.col-title Redes Sociais
        p.col-text facebook
        p.col-text instagram
      div.col
        h4.col-title Uma mensagem
        p.col-text A Mente que se abre a uma nova ideia, jamais volta ao seu tamanho normal. 
          span - Albert Einstein.

script(src="/assets/js/plugins.js")
script(src="/assets/js/main.js")
