head
	title Prime Tecnologias
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href="assets/css/style.css")

body
	header.Header.bg-blue
		section.container
			div.header-content.header-desktop
				div.logomarca
					a(href='#index')
						img.logo(src='assets/img/logo.svg' alt='logo')
				div.navbar
					ul.nav
						li.nav-li
							a.nav-item(href='#inicio') Inicio
						li.nav-li
							a.nav-item(href='#sobre') Sobre Nós
						li.nav-li
							a.nav-item(href='#diferenciais') Diferenciais
						li.nav-li
							a.nav-item(href='#servicos') Serviços
						li.nav-li
							a.nav-item.-destak(href='#fale-conosco') Fale Conosco
			div.header-content.header-mobile
				div.navbar
					div#menu-mobile
						img.logo(src='assets/img/burger.svg' alt='logo')
					div.menu-mobile.--close
						div.close X
						ul.nav-mob
							li.nav-li
								a.nav-item(href='#inicio') Inicio
							li.nav-li
								a.nav-item(href='#sobre') Sobre Nós
							li.nav-li
								a.nav-item(href='#diferenciais') Diferenciais
							li.nav-li
								a.nav-item(href='#servicos') Serviços
							li.nav-li
								a.nav-item.-destak(href='#fale-conosco') Fale Conosco
					div.logomarca
						a(href='/')
							img.logo(src='assets/img/logo.svg' alt='logo')
					div.chat
						a(href='#fale-conosco')
							img.logo(src='assets/img/chat.svg' alt='logo')