<!DOCTYPE html>
html(lang="pt-BR")
  
  //- Header
  include ./includes/general/header.pug
  
  //- Principal
  include ./includes/partials/slider.pug
  include ./includes/partials/services.pug
  include ./includes/partials/about.pug
  include ./includes/partials/jobs.pug
  include ./includes/partials/consulting.pug
  include ./includes/partials/contact.pug
  
  //- Footer
  include ./includes/general/footer.pug