.Footer .footer-content {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.Footer .footer-content p {
  margin:0;
}

.Footer .footer-content .col {
  padding: 1em;
  width: 23.333%;
}


.Footer .footer-content .logo-footer .link-logo {
  padding: 1.2em 0;  
}

.Footer .footer-content .col .col-title {
  color: #FF6F11;
  font-weight: 100;
}


@media (max-width: 960px) {
  .Footer .footer-content {
    display: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Footer .footer-content .col {
    width: 100%;
    font-size: 1.5em;
    padding: 0;
  }
  .Footer .footer-content .col .col-title {
    line-height: 0;
  }
}